<div class="columns is-mobile is-centered mt-2">
    <div class="column is-centered is-one-third">
        <div class="card">
            <div class="card-image">
            <figure class="image is-4by3">
                <img src="assets/{{movie.img}}" alt="Placeholder image">
            </figure>
            </div>
            <div class="card-content">
            <div class="media">
                <div class="media-content">
                <p class="title is-4">Titile: {{movie.title}}</p>
                <p class="subtitle is-5 mt-1">Director: <a href="directors/{{director._id}}">{{director.firstName}} {{director.lastName}}</a></p>
                <p class="subtitle is-5 mt-1">Genre: {{movie.genre}}</p>
                <p class="subtitle is-5 mt-1">Release Date: {{movie.releaseDate}}</p>
                <p class="subtitle is-5 mt-1">Actors: <span *ngFor="let actor of actors; last as lastActor">
                    <a href="/actors/{{actor._id}}">{{actor.firstName}} {{actor.lastName}}</a> 
                    <span *ngIf="!lastActor">, </span> </span> 
                    <p class="subtitle is-5 mt-1">Rating: {{stars}}</p>
                </div>
            </div>
        
            <div class="content">
                {{movie.description}}
            </div>
            </div>
        </div>
    </div>
  </div>
